<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Diary System</title>  
    {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/update/{{diary.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Diary Id:</label>  
    <div class="col-sm-4">  
        <input type="text" name="id" id="id" required maxlength="20" value="{{ diary.id }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">User FirstName:</label>  
    <div class="col-sm-4">  
        <input type="text" name="first_name" id="first_name" required maxlength="100" value="{{ diary.first_name }}" />  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">User MiddleName:</label>  
    <div class="col-sm-4">  
        <input type="text" name="middle_name" id="middle_name" required maxlength="100" value="{{ diary.middle_name }}" />  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">User LastNames:</label>  
    <div class="col-sm-4">  
        <input type="text" name="last_names" id="last_names" required maxlength="100" value="{{ diary.last_names }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">User Email:</label>  
    <div class="col-sm-4">  
        <input type="email" name="email" id="email" required maxlength="254" value="{{ diary.email }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">User Cellphone:</label>  
    <div class="col-sm-4">  
        <input type="text" name="cellphone" id="cellphone" required maxlength="15" value="{{ diary.cellphone }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  
